/* body {
	background-color: black;
} */

.movie-options {
	margin-bottom: 20px;
}

#show-movies {
	display: none;
}
#click-me {
	cursor: pointer;
	color: #0088cc;
}

#click-me:hover {
	text-decoration: underline;
}